{% extends 'ZamatOAuth2ServerBundle::layout.html.twig' %}
{% block stylesheets %}
{% endblock %} 
{% block javascripts %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-8">
            <div class="panel panel-transparent">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Authorization</h1>
                            <form method="post">   
                                <p>Client <strong>{{request.client_id}}</strong> authorization request</p>
                                <h4>with scopes</h4>
                                {% if scopes|length > 0 %}
                                    <ul class="list-group">
                                        {% for scope in scopes %}
                                            <li class="list-group-item"><span>{{scope}}</span></li>
                                            {% endfor %}
                                    </ul>
                                {% endif %}
                                <button type="submit" name="authorize" value="1" class="btn btn-info ">Accept</button>
                                <button type="submit" name="authorize" value="0" class="btn btn-info ">Reject</button>
                            </form>                                     
                        </div>
                    </div>                   
                </div>
            </div>       
        </div>
    </div>
{% endblock%}