{% extends 'ZamatOAuth2ServerBundle::layout.html.twig' %}
{% block stylesheets %}
{% endblock %} 
{% block javascripts %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-8">
            <div class="panel panel-transparent">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="p-t-35">OAuth2 Authorization Server</h3>                                    
                        </div>
                    </div>                   
                </div>
            </div>       
        </div>
    </div>
{% endblock%}
