{% extends 'ZamatOAuth2ServerBundle:Secure:layout.html.twig' %}
{% block content %}
    
    <div class="login-wrapper">
      <div class="bg-pic">
        <!-- put walpaper image -->  
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h2 class="semi-bold text-white"><!-- put text --> </h2>
          <p class="small"><!-- put text copyright --> </p>
        </div>
      </div>
        
      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
                   
            {% if error %}
                <div>
                    <p class="p-t-35">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </p>
                </div>
            {% endif %}    
            
          <p class="p-t-35"><i class="fa fa-lock"></i>OAuth2 login</p>
          
          <form id="form-login" class="p-t-15" role="form" action="{{ path('_oauth_authorize_login_check') }}"  method="post">
            <div class="form-group form-group-default">
              <div class="controls">
                <label for="username">Login</label>  
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="username"  required  />  
              </div>
            </div>
            <div class="form-group form-group-default">
              <div class="controls">
                <label for="username">Password</label>  
                <input type="password" id="password" name="_password" class="form-control" placeholder="password" required />  
              </div>
            </div> 
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-complete-to-replace btn-default btn-cons m-t-10" type="submit">Login</button>
          </form>
          
          <div class="pull-bottom sm-pull-bottom">
            <div class=" clearfix">
              <div class="col-sm-12 no-padding m-t-10">
                 <!-- registration link -->            
              </div>
            </div>         
             
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
              <div class="col-sm-3 col-md-2 no-padding">
                  <!-- logo -->
              </div>
              <div class="col-sm-9 no-padding m-t-10">
                <p><small><!-- some small text --></small></p>
              </div>
            </div>
          </div>
              
        </div>              
      </div> 
              
    </div>   

{% endblock %}